h2 {
  font-family: "Arial","Meiryo","sans-serif";
  font-size: 20px;
  text-align: center;
}
p {
  font-family: "Arial","Meiryo","sans-serif";
  font-size: 20px;
  text-align: center;
}  
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 3px 3px 3px gray;
  letter-spacing: 1.2em;
}
.color span:nth-child(1) { color: skyblue; }
.color span:nth-child(2) { color: rgb(255,192,203); }
#parent p {
  font-weight: bold;
}
.text-rgb {
  color: rgb(255,192,203)
}
.text-skyblue {
  color: skyblue;
}